server:
  port: 9002

hermes:
  userServiceUrl: ${USER_SERVICE_URL:http://localhost:8080}
  userServiceAPIKey: ${USER_SERVICE_API_KEY:a6005e93-acfe-411b-8dbd-96a95e158e75}

management:
  security:
    enabled: false

spring:
  kafka:
    packages:
      trust-all: true
  data:
    mongodb:
      host: ${MONGODB_HOST:localhost}
      authentication-database: hermes
      database: hermes
      username: hermes
      password: ${MONGODB_PASSWORD:pingu123}
  jackson:
    property-naming-strategy: SNAKE_CASE
    serialization:
      write-dates-as-timestamps: true

kafka:
  bootstrap-servers: localhost:9092
  topic:
    userServiceContactUpdate: userServiceContactUpdate
