server:
  port: 9002

#spring:
#  profiles: default
hermes:
  userServiceUrl: ${USER_SERVICE_URL:http://localhost:8080}
  userServiceAPIKey: ${USER_SERVICE_API_KEY:a6005e93-acfe-411b-8dbd-96a95e158e75}

management:
  security:
    enabled: false

spring:
  kafka:
    packages:
      trust-all: true
  data:
    mongodb:
      host: ${MONGO_HOST:localhost}
      database: hermes
  jackson:
    property-naming-strategy: SNAKE_CASE
    serialization:
      write-dates-as-timestamps: true

kafka:
  bootstrap-servers: ${KAFKA_SERVER:localhost:9092}
  topic:
    userServiceContactUpdate: userServiceContactUpdate
